celery==5.2.7

Django==4.1.7
django-jalali==6.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-multiselectfield==0.1.12

httpie==3.2.1
ipython==8.11.0
jdatetime==4.1.1
Pillow==9.4.0

Pygments==2.14.0
python-dotenv==1.0.0
pytz==2022.7.1
redis==4.5.1
requests==2.28.2